@font-face {
  font-family: myFirstFont;
  src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: myFirstFont, Inter;
  line-height: 1.5;

  color-scheme: light dark;
  --BG-COLOR-MAIN:#e3e3e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* UTILITIES CLASS*/
.center {
  text-align: center;
}

/* CLASS STYLES FOR FAIL CORRECT AND PICK USEDFOR THE LISTS */

.fail {
  border: 2px solid #f00;
}

.pick {
  border: 2px solid blue;
}

.correct {
  border: 2px solid green;
}

/* GENERAL STYLES */
.container {
  padding: 20px;
  height: 100vh;
  width: 100%;
  background-color: var(--BG-COLOR-MAIN);
}

.heading-container p {
  font-style: italic;
}

.heading-container h2 {
  font-weight: 300;
}

ul {
  width: 100%;
  height: 60%;
  margin-top: 40px;
}

.question-ul {
  height: 50%;
}

.question-ul li {
  justify-content: space-between;
}

ul li {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

li .option-lang,
.image-container__flex span {
  font-weight: 600;
  margin-left: 15px;
}

.correct .letter-container {
  background-color: green;
  color: white;
}

.fail .letter-container {
  background-color: red;
  color: white;
}

.pick .letter-container {
  background-color: blue;
  color: white;
}

.letter-container {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--BG-COLOR-MAIN);
}

li:hover,
li:focus {
  cursor: pointer;
}

.main-image--container {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  background-color: #fff1e9;
}

.two {
  background-color: #e0fdef;
}

.three {
  background-color: #ebf0ff;
}

.four {
  background-color: #f6e7ff;
}

.image-container__flex {
  display: flex;
  align-items: center;
}

.li__div-first {
  display: flex;
  align-items: center;
  width: 90%;
}

.li__div-second {
  width: 10%;
}

button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: purple;
  color: white;
  font-family: inherit;
  margin-top: 20px;
}

/* Question end component styles */

.score {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.score-container {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

/* LOADING BAR */
.loading-bar-container {
  padding: 3px;
  border-radius: 5px;
  height: 13px;
  width: 100%;
  background-color: white;
}

.loading-bar {
  height: 7px;
  border-radius: 3px;
  background-color: purple;
}

/* MODE TOGGLE CONTAINER */

.header-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modeToggle-container {
  width: 60px;
  height: 30px;
  display: flex;
}

/* ERROR MESSAGE STYLES */
.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* LOADER SPINNER */
.loader-container {
  width: 100%;
  height: 100vh;
  outline: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 purple;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: purple;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 purple;
  }
  50% {
    box-shadow: 0 0 0 purple;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 purple;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}


/* TABLET STYLES */

@media screen and (min-width: 450px){
  ul li {
    height: 22%;
    padding: 20px;
  }

  ul li .option-lang {
    font-size: 1.5rem;
  }

  .main-image--container {
    height: 70px;
    width: 70px;
  }

  .main-image--container img {
    height: 100%;
    width: 100%;
  }

  .question {
    font-size: 1.3rem;
  }

  button {
    height: 70px;
    font-size: 1.3rem;
  }
}