@font-face {
  font-family: myFirstFont;
  src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: myFirstFont, Inter;
  line-height: 1.5;

  --FAIL-COLOR: #f00;
  --CORRECT-COLOR: #177d17;
  --PICK-COLOR: blue;
  --BG-COLOR-MAIN: #e3e3e3;
  --LIST-COLOR: #ffffff;
  color: #213547;

  /* img bg colors */
  --ONE-BGCOLOR: #fff1e9;
  --TWO-BGCOLOR: #e0fdef;
  --THREE-BGCOLOR: #ebf0ff;
  --FOUR-BGCOLOR: #f6e7ff;

  --BTN-COLOR: purple;

  /* BG IMAGES */

  --MOBILE-BG-IMG: url("assets/images/pattern-background-mobile-light.svg");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --BG-COLOR-MAIN: #0b0b45;
  --LIST-COLOR: rgb(22, 22, 48);
  color: #ffffff;
  background-color: #0b0b45;
  --MOBILE-BG-IMG: url("assets/images/pattern-background-mobile-dark.svg");
}

/* UTILITIES CLASS*/
.center {
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

/* CLASS STYLES FOR FAIL CORRECT AND PICK USEDFOR THE LISTS */

.fail {
  border: 2px solid var(--FAIL-COLOR);
}

.pick {
  border: 2px solid VAR(--PICK-COLOR);
}

.correct {
  border: 2px solid var(--CORRECT-COLOR);
}

/* GENERAL STYLES */
.container {
  padding: 20px;
  height: 100vh;
  width: 100%;
  background-color: var(--BG-COLOR-MAIN);
  background-image: var(--MOBILE-BG-IMG);
}

.heading-container p {
  font-style: italic;
}

.heading-container h2 {
  font-weight: 300;
}

ul {
  width: 100%;
  height: 60%;
  margin-top: 40px;
}

.question-ul {
  height: 50%;
}

.question-ul li {
  justify-content: space-between;
}

ul li {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--LIST-COLOR);
}

li .option-lang,
.image-container__flex span {
  font-weight: 600;
  margin-left: 15px;
}

.correct .letter-container {
  background-color: var(--CORRECT-COLOR);
  color: white;
}

.fail .letter-container {
  background-color: var(--FAIL-COLOR);
  color: white;
}

.pick .letter-container {
  background-color: var(--PICK-COLOR);
  color: white;
}

.letter-container {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--BG-COLOR-MAIN);
}

li:hover,
li:focus {
  cursor: pointer;
}

.main-image--container {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  background-color: var(--ONE-BGCOLOR);
}

.two {
  background-color: var(--TWO-BGCOLOR);
}

.three {
  background-color: var(--THREE-BGCOLOR);
}

.four {
  background-color: var(--FOUR-BGCOLOR);
}

.image-container__flex {
  display: flex;
  align-items: center;
}

.li__div-first {
  display: flex;
  align-items: center;
  width: 90%;
}

.li__div-second {
  width: 10%;
}

button {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: purple;
  font-family: inherit;
  margin-top: 20px;
  color: white;
}

button:hover,
button:focus {
  background-color: rgb(175, 35, 175);
  cursor: pointer;
}

/* Question end component styles */

.score {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.score-container {
  background-color: var(--LIST-COLOR);
  margin-top: 20px;
  padding: 20px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

/* LOADING BAR */
.loading-bar-container {
  padding: 3px;
  border-radius: 5px;
  height: 13px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
}

.loading-bar {
  height: 7px;
  border-radius: 3px;
  background-color: var(--BTN-COLOR);
}

/* MODE TOGGLE CONTAINER */

.header-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modeToggle-container {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
}

.toggle-img--container {
  margin-top: 4px;
}

/* ERROR MESSAGE STYLES */
.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* LOADER SPINNER */
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--BG-COLOR-MAIN);
  box-shadow: 30px 0 0 var(--BTN-COLOR);
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--BTN-COLOR);
  box-shadow: 30px 0 0 var(--BG-COLOR-MAIN);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--BTN-COLOR);
  }
  50% {
    box-shadow: 0 0 0 var(--BTN-COLOR);
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--BTN-COLOR);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 var(--BG-COLOR-MAIN);
  }
  50% {
    box-shadow: 0 0 0 var(--BG-COLOR-MAIN);
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--BG-COLOR-MAIN);
    margin-top: 0;
  }
}

/* TABLET STYLES */

@media screen and (min-width: 450px) {
  ul li {
    height: 22%;
    padding: 20px;
  }

  ul li .option-lang {
    font-size: 1.5rem;
  }

  .main-image--container {
    height: 70px;
    width: 70px;
  }

  .main-image--container img {
    height: 100%;
    width: 100%;
  }

  .question {
    font-size: 1.3rem;
  }

  button {
    height: 70px;
    font-size: 1.3rem;
  }
}

/* LAPTOP STYLES */
@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    height: 80vh;
  }

  .heading-container {
    width: 30%;
    height: 400px;
    padding-top: 100px;
    padding-inline: 20px;
  }

  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  ul {
    width: 45%;
  }

  ul li {
    height: 100px;
  }

  .question-container {
    width: 45%;
    height: 400px;
  }

  .options-container {
    width: 50%;
    height: 100%;
  }

  ul li .option-lang {
    font-size: clamp(1vh, 1rem, 1.3rem);
  }

  .question-ul {
    width: 100%;
    height: 80%;
    margin: 0;
  }

  .loading-bar-container {
    margin-top: 100px;
  }

  .wrapper-end {
    display: flex;
    justify-content: space-between;
    height: 60vh;
  }

  .heading-container {
    width: 40%;
    height: 100%;
  }

  .score-wrapper {
    width: 50%;
    height: 100%;
  }

  .score-container {
    height: 70%;
  }

  .main-image--container {
    width: 50px;
    height: 50px;
  }
}
